<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.proxywar.beta</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/YOUR_USER/Documents/ProxyWar/deploy/mac/start-proxywar-beta.zsh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/YOUR_USER/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>PROXYWAR_PROJECT_DIR</key>
    <string>/Users/YOUR_USER/Documents/ProxyWar</string>
    <key>PROXYWAR_ENV_FILE</key>
    <string>/Users/YOUR_USER/.proxywar/proxywar-beta.env</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/YOUR_USER/Documents/ProxyWar</string>
  <key>StandardOutPath</key>
  <string>/Users/YOUR_USER/Library/Logs/proxywar-beta.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/YOUR_USER/Library/Logs/proxywar-beta.err.log</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
